@charset "UTF-8";

/* firstview */
.firstview {
    position: relative;
    max-width: 1280px;
    margin-inline: auto;
    padding-top: 48px;
    width: 89%;
}

.firstview__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-inline: auto;
}

.firstview__heading {
    position: absolute;
    bottom: 160px;
    left: 0;
}

.firstview__logo-title {
    font-family: "Lexend Zetta";
    mix-blend-mode: difference;
    color: var(--white);
    font-size: min(9vw, 12.8rem);
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.firstview__content {
    width: 48.3%;
    max-width: 618px;
}

.firstview__title {
    color: var(--white);
    font-size: min(2.23vw, 3.2rem);
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}

.firstview__image--sub {
    width: 47%;
    max-width: 514px;
    overflow: hidden;
}

.firstview__scroll {
    position: absolute;
    bottom: 80px;
    left: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.firstview__scroll::after {
    background-color: var(--white);
    content: "";
    display: inline-block;
    width: 2px;
    height: 200px;
}

.firstview__scroll::before {
    content: "";
    position: absolute;
    bottom:0;
	width:10px;
	height:10px;
	border-radius: 50%;
	background:var(--white);
	animation:
		circlemove 2.4s ease-in-out infinite,
		cirlemovehide 2.4s ease-out infinite;
}

@keyframes circlemove {
    0% { bottom: var(--circle-start); }
    100% { bottom: -5px; }
}

@keyframes cirlemovehide{
    0%{opacity:0}
    50%{opacity:1;}
    80%{opacity:0.9;}
    100%{opacity:0;}
}

.firstview__scroll-text {
    color: var(--white);
    font-family: "Lexend Zetta";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    writing-mode: vertical-rl;
}

@media screen and (max-width: 767px) {
    .firstview {
        max-width: none;
        padding-top: 80px;
        padding-bottom: 124px;
        width: 74.4%;
    }

    .firstview__heading {
        bottom: -96px;
        right: -85px;
        left: auto;
    }

    .firstview__logo-title {
        font-size: 9.6rem;
        font-weight: 300;
        line-height: 1;
    }

    .firstview__content {
        width: 100%;
    }

    .firstview__title {
        font-size: 2.4rem;
        line-height: 2;
    }

    .firstview__image--sub {
        display: none;
    }

    .firstview__scroll {
        bottom: 124px;
        left: -36px;
    }

    .firstview__scroll::after {
        height: 120px;
    }

    .firstview__scroll::before {
        width:8px;
        height:8px;
    }

    .firstview__scroll-text {
        font-size: 1.4rem;
    }
}

/* about */
.about {
    padding-top: 120px;
    padding-bottom: 200px;
}

.about__body {
    max-width: 1120px;
    margin-inline: auto;
    padding-inline: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__profile {
    width: 63.84%;
}

.about__visual {
    position: relative;
    order: -1;
    margin-right: 7.143%;
    width: 325px;
    box-shadow: -40px 40px 50px 0px rgba(0, 0, 0, 0.25);
}

.about__name {
    margin-bottom: 32px;
    font-size: 1.8rem;
    line-height: normal;
}

.about__description {
    margin-bottom: 48px;
    font-size: 1.5rem;
}

.about__button {
    margin-top: 80px;
    text-align: right;
}

.about__button-link {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    color: var(--black);
    font-family: "Lexend Exa";
    font-size: 2rem;
    line-height: normal;
}

.about__button-link::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--black);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.7s cubic-bezier(0.19, 0.77, 0.29, 1.05);
}

.about__button-text {
    margin-right: 80px;
}

.about__button-arrow {
    position: relative;
    width: 22px;
    height: 15px;
    overflow: hidden;
}

.about__button-arrow::before,
.about__button-arrow::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/top/top_icon-arrow.svg);
    background-size: contain;
}

.about__button-arrow::before {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.4s, opacity 0.3s 0.2s;
    transition-timing-function: ease-in-out;
}

.about__button-arrow::after {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.4s, opacity 0.3s;
    transition-timing-function: ease-in-out;
}

.about__button-link:hover::after {
    transform: scaleX(0);
    transform-origin: right;
}

.about__button-link:hover .about__button-arrow::before {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.4s, opacity 0.3s;
    transition-timing-function: ease-in-out;
}

.about__button-link:hover .about__button-arrow::after {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.4s, opacity 0.3s 0.2s;
    transition-timing-function: ease-in-out;
}

@media (max-width: 767px) {
    .about {
        padding-top: 80px;
        padding-bottom: 112px;
    }

    .about__body {
        flex-direction: column;
        padding-inline: 32px;
    }

    .about__profile {
        width: 100%;
    }

    .about__visual {
        order: -1;
        margin-bottom: 48px;
        margin-right: 0;
        width: 216px;
        box-shadow: -20px 20px 50px 0px rgba(0, 0, 0, 0.25);
    }

    .about__name {
        margin-bottom: 24px;
        text-align: center;
        font-size: 1.6rem;
    }

    .about__description {
        margin-bottom: 40px;
        font-size: 1.4rem;
        line-height: 2.14286;
    }

    .about__button {
        margin-top: 32px;
    }

    .about__button-link {
        padding-bottom: 16px;
        font-size: 1.6rem;
    }

    .about__button-text {
        margin-right: 24px;
    }

    .about__button-arrow {
        width: 16px;
        height: 10.5px;
    }
}

/* skills */
.skills {
    padding-top: 120px;
    padding-bottom: 200px;
    background-color: var(--gray);
    color: var(--white);
}

.skills__body {
    max-width: 1120px;
    margin-inline: auto;
    padding-inline: 40px;
}

.skills__list {
    margin-left: 21.429%;
}

.skills__item {
    position: relative;
}

.skills__item:first-of-type {
    margin-bottom: 160px;
}

.skills__item-header {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    font-family: "Lexend Exa";
    line-height: normal;
}

.skills__underline {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--white);
}

.skills__number {
    margin-right: 24px;
    font-size: 2rem;
}

.skills__title {
    font-size: 4rem;
}

.skills__description {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 1.5rem;
}

.skills__tools {
    color: var(--bg-color);
    font-size: 1.5rem;
    line-height: 1;
}

@media (max-width: 767px) {
    .skills {
        padding-top: 80px;
        padding-bottom: 112px;
    }

    .skills__body {
        padding-inline: 0;
    }

    .skills__list {
        margin: auto;
        padding-inline: 32px;
    }

    .skills__item:first-of-type {
        margin-bottom: 80px;
    }

    .skills__item-header {
        padding-bottom: 16px;
        flex-direction: column;
        align-items: flex-start;
    }

    .skills__number {
        margin-bottom: 16px;
        font-size: 1.6rem;
    }

    .skills__title {
        font-size: 2.4rem;
    }

    .skills__description {
        margin-top: 24px;
        margin-bottom: 24px;
        font-size: 1.4rem;
        line-height: 2.14286;
    }

    .skills__tools {
        font-size: 1.4rem;
        line-height: 1.07143;
    }
}

/* works */
.works {
    padding-top: 120px;
    padding-bottom: 200px;
    position: relative;
}

.works__list {
    max-width: 1120px;
    margin-inline: auto;
    padding-inline: 40px;
}

.works-card--type01 {
    display: flex;
    align-items: center;
    margin-bottom: 160px;
}

.works-card--type02 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 160px;
}

.works-card--type02:last-of-type {
    margin-bottom: 0;
}

.works-card__image-wrapper {
    box-shadow: -40px 40px 50px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
    transition: transform 1s ease-in-out;
}

.works-card__image {
    display: block;
    width: 100%;
    transition: transform 0.3s ease-out;
}

.works-card__image-wrapper:hover .works-card__image {
    transform: scale(1.1);
}

.works-card__content {
    display: block;
    text-decoration: none;
    position: relative;
}

.works-card__body--type01 {
    padding-inline: 80px;
    width: 428px;
    transition: opacity 0.5s ease-in-out;
}

.works-card__body--type02 {
    padding-inline: 80px;
    width: 428px;
    transition: opacity 0.5s ease-in-out;
}

.works-card__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.works-card__tag {
    color: var(--gray);
    font-size: 1.5rem;
    line-height: 1;
}

.works-card__title {
    color: var(--black);
    font-size: 3.6rem;
    line-height: normal;
    padding: 16px 0;
    transition: all 0.4s;
}

.works-card__description {
    color: var(--black);
    font-size: 1.5rem;
    line-height: 2.6;
    margin-bottom: 16px;
    transition: all 0.4s;
}

.works-card__roles {
    color: var(--gray);
    font-size: 1.5rem;
    line-height: 1;
}

.works-card__button {
    text-align: right;
    padding-top: 56px;
    transition: transform 0.3s ease;
}


.works-card__button:hover {
    transform: scale(1.02);
    opacity: 0.7;
}

.works-card__button-text {
    color: var(--black);
    font-family: "Lexend Exa";
    font-size: 2rem;
    font-weight: 300;
    line-height: normal;
    border-bottom: solid 1px var(--black);
    padding-bottom: 20px;
    display: inline-block;
    padding-right: 135px;
    position: relative;
    transition: all 0.4s;
}

.works-card__button-text::after {
    position: absolute;
    content: "";
    top: 12.5px;
    right: 0;
    width: 23px;
    height: 9px;
    background: url(../images/top/top_icon-arrow-works.svg) no-repeat;
}

.cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 6vw;
    height: 6vw;
    opacity: 0;
    border-radius: 50%;
    pointer-events: none;
    transform: scale(0);
}

.cursor__text {
    font-size: 0.8vw;
    letter-spacing: 0.04em;
}

.cursor--works {
    background-color: var(--black);
}

.cursor--works .cursor__text {
    color: var(--white);
}

@media screen and (max-width: 1024px) {
    .works {
        padding-top: 80px;
        padding-bottom: 112px;
    }

    .works__list {
        padding-inline: 32px;
        max-width: 650px;
    }

    .works-card--type01 {
        flex-direction: column;
        margin-bottom: 80px;
        align-items: flex-start;
    }

    .works-card--type02 {
        flex-direction: column;
        margin-bottom: 80px;
        align-items: flex-start;
    }

    .works-card__image-wrapper {
        box-shadow: -20px 20px 50px 0px rgba(0, 0, 0, 0.25);
    }

    .works-card__image {
        width: 100%;
        height: auto;
    }

    .works-card__body--type01 {
        padding: 0;
        justify-content: normal;
        align-items: normal;
        width: auto;
        text-align: left;
    }

    .works-card__body--type02 {
        padding: 0;
        justify-content: normal;
        align-items: normal;
        width: auto;
        text-align: left;
    }

    .works-card__text {
        padding-top: 32px;
    }

    .works-card__tag {
        font-size: 1.4rem;
        line-height: 1.07143;
    }

    .works-card__title {
        font-size: 2.4rem;
        padding: 8px 0;
    }

    .works-card__description {
        font-size: 1.4rem;
        line-height: 2.14286;
        margin-bottom: 8px;
    }

    .works__list span {
        font-size: 1.4rem;
        line-height: 2;
    }

    .works-card__button {
        text-align: left;
        padding-top: 32px;
    }

    .works-card__button-text {
        font-size: 1.6rem;
        font-weight: 300;
        display: inline-block;
        border-bottom: solid 1px var(--black);
        padding-bottom: 16px;
        padding-right: 40px;
        position: relative;
        transition: all 0.4s;
    }

    .works-card__button-text::after {
        top: 10px;
        width: 16px;
        height: 9px;
        background: url(../images/top/top_icon-arrow-works_sp.svg) no-repeat;
    }

}