@charset "UTF-8";

/* works */

.works__inner {
    margin-inline: auto;
    padding-inline: 40px;
    padding-bottom: 200px;
    max-width: 1040px;
}

.works__title-block {
    margin-bottom: 40px;
    border-bottom: 1px solid var(--black);
    padding-top: 160px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works__title {
    font-size: 3.6rem;
    line-height: normal;
}

.works__meta {
    display: flex;
    font-size: 1.5rem;
    line-height: 1;
}

.works__tag {
    position: relative;
    padding-right: 16px;
}

.works__tag::before {
    content: "";
    position: absolute;
    background: var(--black);
    width: 1px;
    height: 14px;
    right: 0;
    top: calc(50% - 5px);
}

.works__date {
    padding-left: 16px;
}

.works__text {
    display: block;
    padding-top: 40px;
    font-size: 1.3rem;
    line-height: 2;
}

.works__url {
    position: relative;
    color: var(--gray);
}

.works__url::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.works__url:hover::after {
    transform: scaleX(0);
    transform-origin: right;
}

.works__main-image {
    margin-inline: auto;
    margin-bottom: 40px;
    width: 100%;
}

.works__description {
    margin-inline: auto;
    margin-bottom: 136px;
    max-width: 880px;
    font-size: 1.5rem;
    line-height: 2.6;
}

.works__sub-image {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    width: 100vw;
    margin-bottom: 120px;
    aspect-ratio: 1.8 / 1;
    overflow: hidden;
}

.works__photos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    gap: 4%;
}

.works__photo-group--pc,
.works__photo-group--sp {
    width: 620px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.works__photo-group--sp {
    width: 340px;
}

.works__list-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
    border-bottom: 1px solid var(--black);
}

.works__list-item:not(:last-of-type) {
    margin-bottom: 56px;
}

.works__list-item:first-of-type {
    padding-top: 56px;
    border-top: 1px solid var(--black);
}

.works__head {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.16667;
}

.works__body {
    width: 80%;
    max-width: 830px;
    font-size: 1.5rem;
    line-height: 2.6;
}

.works__color-image {
    position: relative;
    margin-top: 40px;
}

.works__comps {
    margin-top: 200px;
}

.works__comps-column {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.works__comps-pc {
    flex: 4;
    margin-bottom: 0;
}

.works__comps-sp {
    flex: 1;
    margin-bottom: 0;
}

.works__comps-pc img,
.works__comps-sp img,
.works__comps-sp picture {
    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25));
    width: 100%;
}

.works__button-wrapper {
    padding-top: 160px;
    text-align: center;
}

.works__button--back {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    color: var(--black);
    font-family: "Lexend Exa";
    font-size: 2rem;
    line-height: normal;
}

.works__button--back::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--black);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.7s cubic-bezier(0.19, 0.77, 0.29, 1.05);
}

.works__button-text {
    margin-left: 80px;
}

.works__button-arrow {
    position: relative;
    width: 22px;
    height: 15px;
    overflow: hidden;
}

.works__button-arrow::before,
.works__button-arrow::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/works/works_icon-arrow.svg);
    background-size: contain;
}

.works__button-arrow::before {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.4s, opacity 0.3s 0.2s;
    transition-timing-function: ease-in-out;
}

.works__button-arrow::after {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.4s, opacity 0.3s;
    transition-timing-function: ease-in-out;
}

.works__button--back:hover::after {
    transform: scaleX(0);
    transform-origin: right;
}

.works__button--back:hover .works__button-arrow::before {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.4s, opacity 0.3s;
    transition-timing-function: ease-in-out;
}

.works__button--back:hover .works__button-arrow::after {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.4s, opacity 0.3s 0.2s;
    transition-timing-function: ease-in-out;
}

.works__button {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--black);
    transform: translateY(100%);
    transition: 0.3s ease-in-out;
}

.works__button.is-scroll {
    transform: translateY(0);
}

.works__link {
    display: block;
    padding-block: 24px;
    color: var(--white);
    text-align: center;
    transition: opacity 0.2s ease-out;
}

.works__link:hover {
    opacity: 0.6;
}

.works__link-text {
    font-family: "Lexend Exa";
    font-size: 2rem;
    font-weight: 300;
    line-height: normal;
}

@media (max-width: 767px) {
    .works__inner {
        padding-inline: 32px;
        padding-bottom: 112px;
    }

    .works__title-block {
        padding-top: 120px;
        padding-bottom: 16px;
        align-items: flex-start;
        flex-direction: column;
    }

    .works__title {
        padding-bottom: 8px;
        font-size: 2.4rem;
        line-height: normal;
    }

    .works__meta {
        font-size: 1.4rem;
        line-height: 1.07143;
    }

    .works__tag {
        position: relative;
        padding-right: 16px;
    }

    .works__description {
        margin-bottom: 80px;
        font-size: 1.4rem;
        line-height: 2.14286;
    }

    .works__url::after {
        display: none;
    }

    .works__sub-image {
        margin-bottom: 80px;
    }

    .works__photos {
        gap: 16px;
        margin-bottom: 80px;
    }

    .works__photo-group--pc,
    .works__photo-group--sp {
        gap: 8px;
    }

    .works__photo-group--sp {
        width: 340px;
    }

    .works__list-item {
        display: block;
        padding-bottom: 48px;
    }

    .works__list-item:not(:last-of-type) {
        margin-bottom: 24px;
    }

    .works__list-item:first-of-type {
        padding-top: 24px;
    }

    .works__head {
        margin-bottom: 16px;
        font-size: 1.6rem;
        line-height: 2.25;
    }

    .works__body {
        width: 100%;
        max-width: 100%;
        font-size: 1.4rem;
        line-height: 2.14286;
    }

/*
    .works__body:last-of-type {
        line-height: 2;
    } */

    .works__color-image {
        margin-top: 40px;
    }

    .works__comps {
        margin-top: 112px;
    }

    .works__comps-column {
        display: block;
    }

    .works__comps-pc {
        margin-bottom: 40px;
    }

    .works__comps-sp img {
        width: 100%;
    }

    .works__button-wrapper {
        padding-top: 80px;
    }

    .works__button--back {
        padding-bottom: 16px;
        font-size: 1.6rem;
    }

    .works__button-text {
        margin-left: 40px;
    }

    .works__button-arrow {
        width: 16px;
        height: 11px;
    }

    .works__link {
        padding-block: 20px;
    }

    .works__link-text {
        font-size: 1.6rem;
    }
}
